<div>
    <h1 class="display-4">Furadeiras|{{produto.description}}</h1>

    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <img class="img-fluid" ng-src="data:image/(png|jpg|webp);base64,{{produto.img}}"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 50rem;">
                    <div class="card-body">
                        <p class="alert alert-secondary">{{produto.description}}</p>
                        <h5>Preço: R${{produto.price}}</h5>
                        <p>Marca: {{produto.brand}}</p>
                        <p>Categoria: {{produto.category.description}}</p>
                        <p>Qtde: {{produto.quantity}}</p>
                        <input type="number" ng-model="campoA"/>
                        <button type="button" class="btn btn-success" ng-click="adicionarNoCarrinho(produto, campoA)">
                            Comprar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



