<div>
    <h1 class="display-4">Login|Bem vindo</h1>

    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <form class="alert alert-secondary">
                        <h1>Cadastre-se</h1>
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="" class="form-control" id="" aria-describedby="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="password" class="form-control" id="" placeholder="">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" class="form-control" id="" aria-describedby="" placeholder="">
                        </div>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6" class="alert alert-secondary">
                <div class="card" style="width: 50rem;">
                    <div class="card-body">
                        <form class="alert alert-secondary">
                            <h1>Autenticar-se</h1>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="password" class="form-control" id="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="password" class="form-control" id="" aria-describedby="" placeholder="">
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="">
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>