<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Descrição</th>
                    <th>Qtde</th>
                    <th>Valor Un.</th>
                    <th>Total</th>
                    <th>Ação</th>
                    </thead>
                    <tbody ng-repeat="prod in produtos">
                    <tr>
                        <td>
                            <div class="col-2">
                                <img class="img-fluid" ng-src="data:image/(png|jpg|webp);base64,{{prod.img}}"/>
                            </div>
                        </td>
                        <td>{{prod.id}}</td>
                        <td>{{prod.description}}</td>
                        <td>{{prod.qtde}}</td>
                        <td>{{prod.price}}</td>
                        <td>{{prod.qtde*prod.price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>